<!DOCTYPE html>
<html>
<head>
  <title>ContactList</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="/stylesheets/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
  <script type="text/javascript" src="/javascripts/jquery-3.2.1.min.js"></script>
  <script src="/stylesheets/bootstrap/js/bootstrap.min.js"></script>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <script type="text/javascript" src="/javascripts/angular.js"></script>
  <script type="text/javascript" src="/javascripts/angularGetContactList.js"></script>

</head>
<body class="container-fluid" ng-app="contactList" ng-controller="contactListController">
  <div class="container-fluid">
    <header class="navbar navbar-light bg-light">
      <h1 class="navbar-brand">Contact List API</h1>
    </header>
    <hr>
    <div class="navbar navbar-light bg-light" >
        <div class="btn-group" style=" flex:1">
          <button class="btn btn-info btnFlex" style="flex: 1;" ng-click="callPage(1)">Contact List</button>
          <button class="btn btn-info btnFlex" style="flex: 1;" ng-click="callPage(2)">Create New Contact</button>
        </div>
    </div>
    <div class="container">
    <div class="card" style="margin-bottom: 10px" ng-hide="searchBoxShow">
      <div class="card body">
        <form class="form-inline my-2 my-lg-0">
          <input class="form-control mr-sm-2" type="search" placeholder="Search" id="searchInput" ng-model="searchContact">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit" style="margin-right: 5px">Search</button>
        </form>
      </div>
    </div>
    </div>
    </div>
  <div class="container" ng-include="'/static/updateContact.html'" id="updateDiv" ng-show="editBoxShow">


  </div>

  <div class="container"  ng-include="includePage" >

  </div>

</body>
</html>
